.book .book header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0EM;
}
#header h4.author {
  margin: 0;
  color: # 666;
}
#header h4.author em {
  font-style: normal;
}

.book.font-family-0 {
  font-family: 'Droid Serif', Georgia, serif;
}
.book.font-family-1 {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book-body p.caption {
  color: #333333;
  background-color: #eeeeee;
  padding-left: 20px;
  font-size: 8pt;
}

h1, h2, h3 {
  color: #3b556e;
}

a {
color: #3b556e;
}

dt {
  color: #3b556e;
}

dd {
  margin-bottom: 12px;
  margin-left: 20px;
  padding-left: 20px;
}

.book-body table {
  background: #eeeeee;
  border: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal table td, .book .book-body .page-wrapper .page-inner section.normal table th {
/*  font-family: "Droid Sans",Arial,Sans;*/
  color: #333333;
  border: 1px;
  font-size: 11pt;
  height: 15px;
  padding: 0px;
  cellpadding="0";
  cellspacing="0";
  text-shadow: none;
}

.book .book-body .page-wrapper .page-inner section.normal th {
  background: #99afc4;
  font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
  quotes: none;
  text-shadow: none;
  background: #99afc4;
  padding:  7px 20px 1px 20px;
  color: #333333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
    background: #eeeeee;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 5px 0px;
}

ol {
  -webkit-padding-start: 0px;
}

.book .book-summary {
  background-color: #3b556e;
}

.book .book-summary ul.summary li a {
  padding: 5px 5px 5px 5px;
  color: #aaa;
}

.book .book-summary ul.summary li.active>a {
  color: #ffffff;
}

.book .book-summary ul.summary li a:hover {
  background-color: #99afc4;
  color: #3b556e;
}
